@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Noto+Sans:wght@400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: 'DM Sans', 'Noto Sans', sans-serif;
}

*{
    transition: 300ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

#cards-container{
    display:grid;
    gap: 10px;
    grid-template-columns: repeat(3, auto);
    padding-bottom: 20px;
}

/*.card{
    outline: solid 0px white;
    outline-offset: 0px;
}

.card:hover{
    outline: solid 5px white;
    outline-offset: -5px;
}*/